html {
    background-color: #333
}

.wrapper {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

h1 {
    text-align: center;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.menu {
    padding: ;
}

.InsideMenu {
    margin-right: 5%;
    margin-left: 5%;
}

input {
    margin-left: 5%;
}
